<footer>
    <div class="f-info">
        <div class="f-info-brand">&copy; TravoNest Private Limited</div>
        <div class="f-info-links">
            <a href="/info/privacy">Privacy</a>&nbsp;&nbsp;
            <a href="/info/about">About</a>
        </div>
    </div>
</footer>